#container{
    height: 75vh;
    width: 75vw;
    background-color: lightgoldenrodyellow;
    display: flex;
    /* flex-direction: column; */
    flex-direction:row;
}
#container div{
    height:200px ;
    width:200px ;
}

#div1{
    background-color: aqua;
    order: 1;
}
#div2{
    background-color: red;
}
#div3{
    background-color: plum;
    order: 5;
}
#div4{
    background-color: blue;
    order: -1;
}
